<launch>
	<param name="robot_description" textfile="$(find legoboost_roboter)/urdf/lego_boost.urdf" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <node name="state_publisher" pkg="legoboost_roboter" type="state_publisher" />
</launch>
