<robot name="legoboost_robot">

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  
  <link name="base_footprint"/>


  <joint name= "base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.01" rpy="0 0 0" />
  </joint>


  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.048 0.1248 0.0384"/>
      </geometry>
    </visual>
  </link>

  <link name="left_wheel_link">
    <visual>
      <origin xyz="-0.008 0 0" rpy="0 1.57075 0" />
      <geometry>
        <cylinder length="0.014" radius="0.0152"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="left_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_wheel_link"/>
    <origin xyz="-0.024 -0.056 -0.0048" rpy="0 0 0" />
  </joint>

  <link name="right_wheel_link">
    <visual>
      <origin xyz="0.008 0 0" rpy="0 1.57075 0" />
      <geometry>
        <cylinder length="0.014" radius="0.0152"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="right_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_wheel_link"/>
    <origin xyz="0.024 -0.056 -0.0048" rpy="0 0 0" />
  </joint>
</robot>
